*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.credit{
    margin-left: 200px;
    margin-bottom: 30px;
    font-size: 12px !important;
    color: grey;
}

.description{
    width: 600px;
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.backButton{
    display: block;
    margin-top: 30px;
    margin-left: 200px;
    padding: 10px 20px;
    width: 100px;
    height: 50px;
    background-color: lightgray;
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: whitesmoke;
}

img{
    width: 700px;
    height: 500px;
    border: wheat 5px solid;
    margin: 10px 200px;
}

h1{
    margin-top: 10px;
    font-size: 50px;
}

h2{
    margin-top: 20px;
    font-size: 30px;
}


h1, h2{
    padding: 10px 200px;
    margin-bottom: 2px;
}

ul li, ol li{
    padding-left: 200px;
    margin-top: 15px;
    font-size: 20px;
    list-style-position: inside;
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    list-style-type: disc;
}

ol li{
    list-style-type: decimal;
    width: 1200px;
}
