*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

h1{
    padding: 10px 10px;
    margin-bottom: 2px;
}

p{
    font-size: 20px;
    padding: 5px 10px;
}

li{
    font-size: 20px;
}

ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 25px;
}

ul ul{
    margin-bottom: 10px;
}

ul ul li{
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 55px;
}

div a{
    font-size: 25px;
    margin: 5px 10px; 
}

.listSection{
    padding: 5px;
}

.navContainer{
    width: 1220px;
    margin: 10px auto;
}
